{
    "devices": [
        {
            "deviceId": "bms01",
            "portAddress": "",
            "bluetoothAddress": "xx:xx:xx:xx:xx:xx", //lower case letters
            "bluetoothService": "ff00",
            "bluetoothCharacteristicRead": "ff01",
            "bluetoothCharacteristicWrite": "ff02"
        },
        {
            "deviceId": "bms02",
            "portAddress": "",
            "bluetoothAddress": "xx:xx:xx:xx:xx:xx",
            "bluetoothService": "ff00",
            "bluetoothCharacteristicRead": "ff01",
            "bluetoothCharacteristicWrite": "ff02"
        }
    ],
    "monitor": {
        "refreshInterval": 2000,
        "autoStart": false,
        "logToFile": true
    }
}